DATABASE_URL="postgresql://postgres:CHANGE_ME@db.fkubtwzupxpkuwqrlivp.supabase.co:5432/postgres?sslmode=require"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
DATABASE_SSL_REJECT_UNAUTHORIZED="false"
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
